#puzzle td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
#puzzle td:first-child {
  border-left:solid;
}
#puzzle td:nth-child(3n) {
  border-right:solid ;
}
#puzzle td:nth-child(3n+1) {
  border-left:solid ;
}
#puzzle tr:first-child td{
  border-top:solid;
}
#puzzle tr:nth-child(3n) td{
  border-bottom:solid;
}
#puzzle tr:nth-child(3n+1) td{
  border-top:solid;
}

.puzzle td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
.puzzle td:first-child {
  border-left:solid;
}
.puzzle td:nth-child(3n) {
  border-right:solid ;
}
.puzzle td:nth-child(3n+1) {
  border-left:solid ;
}
.puzzle tr:first-child td{
  border-top:solid;
}
.puzzle tr:nth-child(3n) td{
  border-bottom:solid;
}
.puzzle tr:nth-child(3n+1) td{
  border-top:solid;
}
